In [2]:
import plotly.express as px
import plotly.io as pio
import pandas as pd

In [10]:
tabel = pd.read_excel("data/Vendas.xlsx")
revenuePerStore = tabel[['ID Loja', 'Valor Final']].groupby('ID Loja').sum().reset_index()
display(revenuePerStore)

                      ID Loja  Valor Final
0         Bourbon Shopping SP         4386
1  Center Shopping Uberlândia         2994
2           Iguatemi Campinas        41720
3          Iguatemi Esplanada         2473
4              Norte Shopping         4322

In [13]:
fig = px.bar(revenuePerStore, y='Valor Final', x='ID Loja', width=1000)

pio.renderers.default = 'browser'
pio.show(fig)

Abrindo em uma sessão de navegador existente.